h2 {
  color: #74c69d;
  font-weight: 400;
  margin-bottom: 15px;
  align-items: center;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
  margin-bottom: 50px;
  justify-content: center;
  width: 50%;
  justify-self: center;
  justify-items: center;
}

.project-item {
  align-self: center;
  background-color: #272727ab;
  height: 32rem;
  width: 35rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.project-item h3 {
  color: #74c69d;
  margin-top: 2rem;
  font-size: 1.5rem;
}
.project-image-container {
  width: 90%;
  height: 70%;
  border-radius: 20px;
  align-items: center;
  overflow: hidden;
}
.project-img {
  display: block;
  width: 100%;
  height: 100%;
  align-items: center;
  transition: transform 0.8s ease;
}
.tech-div-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* sigurnija varijanta */
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  width: 80%;
}

.tech-div {
  color: rgb(185, 185, 185);
  border: 1.7px solid rgb(75, 75, 75);
  border-radius: 5px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin-top: 1rem;
}
.tech-div:hover {
  background-color: rgb(75, 75, 75);
  color: white;
}

.tech-div-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: start;
  margin-left: auto;
  height: 2rem;
  gap: 0.5rem;
  padding-left: 1rem;
  padding-right: 0.7rem;

  border: 2px solid #74c69d;
  border-radius: 20px;
  font-weight: 300;
  cursor: pointer;
  color: white;
  font-size: 15px;
  box-shadow: 0 2px 4px rgba(64, 145, 108, 0.1),
    0 4px 8px rgba(64, 145, 108, 0.1), 0 -1px 2px rgba(64, 145, 108, 0.05);
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #40916c 0%, #74c69d 100%);
}

.tech-div-link:hover {
  box-shadow: 0 4px 8px rgba(64, 145, 108, 0.2),
    0 8px 16px rgba(64, 145, 108, 0.2), 0 -2px 4px rgba(64, 145, 108, 0.1);
  transform: scale(1.05);
}
.project-info {
  display: flex;
  align-items: center;
  width: 80%;
}
.project-info button {
  margin-left: auto;
}
.project-img:hover {
  transform: scale(1.2);
}
/* @media (max-width: 1200px) {
  .project-item {
    height: 25rem;
    width: 30rem;
    padding-top: 15px;
  }
} */
@media (max-width: 1200px) {
  .projects-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 650px) {
  .projects-container {
    row-gap: 1rem;
    column-gap: 1rem;
    margin-bottom: 30px;
  }
  .project-item {
    height: 27rem;
    width: 28rem;
    padding-top: 10px;
  }
  .project-item h3 {
    color: #74c69d;
    margin-top: 1rem;
    font-size: 1rem;
  }

  .tech-div-container {
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .tech-div {
    margin-top: 0.5rem;
  }
}
@media (max-width: 550px) {
  .projects-container {
    row-gap: 1rem;
    column-gap: 1rem;
    margin-bottom: 30px;
  }
  .project-item {
    height: 20rem;
    width: 21rem;
    padding-top: 8px;
  }
  .project-item h3 {
    margin-top: 0.6rem;
    font-size: 1rem;
  }

  .tech-div-link {
    height: 1.5rem;
    gap: 0.5rem;
    padding-left: 0.7rem;
    padding-right: 0.5rem;
    font-weight: 300;
    font-size: 12px;
  }

  .tech-div-container {
    gap: 0.5rem;
    row-gap: 0.5;
    padding-bottom: 0.5rem;
  }

  .tech-div {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    margin-top: 0.7rem;
    margin-bottom: -0.5rem;
    font-size: 12px;
  }
}
@media (max-width: 430px) {
  .projects-container {
    row-gap: 0.7rem;
    column-gap: 0.7rem;
    margin-bottom: 20px;
  }
  .project-item {
    height: 17rem;
    width: 18rem;
    padding-top: 5px;
  }
  .project-item h3 {
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }

  .tech-div-link {
    height: 1.3rem;
    gap: 0.5rem;
    padding-left: 0.7rem;
    padding-right: 0.5rem;
    font-weight: 300;
    font-size: 10px;
  }
}
@media (max-width: 360px) {
  .projects-container {
    row-gap: 0.6rem;
    column-gap: 0.6rem;
    margin-bottom: 15px;
    width: fit-content;
    margin: 0 auto;
  }
  .project-item {
    height: 16rem;
    width: 15rem;
    padding-top: 5px;
  }
  .project-item h3 {
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }

  .tech-div-link {
    height: 1rem;
    gap: 0.5rem;
    padding-left: 0.7rem;
    padding-right: 0.5rem;
    font-weight: 300;
    font-size: 10px;
  }
}
