h1 {
  color: #74c69d;
  text-align: center;
}
.container-main {
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
  margin-bottom: 3rem;
  width: 80%;
  justify-self: center;
  margin-top: 2rem;
}
.project-image {
  height: 30rem;
  width: 40rem;
  align-self: center;
  border-radius: 10px;
  margin-bottom: 15px;
}
h3 {
  color: white;
  width: 80%;
  align-self: center;
  font-size: 2rem;
}
.project-btns {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 150%;
}
.project-overview-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  width: 80%;
  align-self: center;
  /* background-color: cadetblue; */
}
/* Custom button */
.view-demo-btn,
.source-code-btn {
  display: inline-flex;
  /* margin-left: 15px; */
  text-decoration: none;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 6rem;
  position: relative;
  border: 2px solid #74c69d;
  border-radius: 20px;
  font-weight: 500;
  cursor: pointer;
  color: white;
  isolation: isolate;
  font-size: 0.8rem;
  box-shadow: 0 2px 4px rgba(64, 145, 108, 0.1),
    0 4px 8px rgba(64, 145, 108, 0.1), 0 -1px 2px rgba(64, 145, 108, 0.05);
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #40916c 0%, #74c69d 100%);
}

/* Hover efekat za custom dugme */
.view-demo-btn:hover,
.source-code-btn:hover {
  box-shadow: 0 4px 8px rgba(64, 145, 108, 0.2),
    0 8px 16px rgba(64, 145, 108, 0.2), 0 -2px 4px rgba(64, 145, 108, 0.1);
  transform: scale(1.1);
}
.tech-btn {
  background-color: transparent;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 5px;
  color: rgb(172, 172, 172);
  font-size: 1rem;
  font-weight: 300;
  height: 1.5rem;
  width: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 0.7rem;
  margin-top: 0.7rem;
}
.tech-btn:hover {
  background-color: rgb(75, 75, 75);
  color: white;
}
.project-description {
  margin-left: 1.5rem;
  font-size: 1.1rem;
  color: rgb(194, 192, 192);
  text-align: justify;
}
.project-nav {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 3rem;
  height: 3.5rem;
  justify-self: center;
  font-size: 1.3rem;
  font-weight: 300;
  background-color: transparent;
  border-radius: 50px;
  z-index: 1;
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  margin-top: 15px;
  justify-content: space-between; /* Raspoređuje elemente sa jednakim razmakom */
  background: rgba(255, 255, 255, 0.103); /* poluprovidna bela */
  backdrop-filter: blur(8px); /* zamućenje pozadine */
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.project-nav-div {
  color: #ffffff;
  align-self: center;
  text-decoration: none;
  align-content: center;
  font-size: 1.5rem;
  border-radius: 2px;
  height: 3.5rem;
  background-color: transparent;
  outline: none; /* Sklanja plavi outline */
  transition: color 0.3s ease; /* Dodaje glatku tranziciju za promenu boje */
  padding: 0 15px; /* Dodajemo padding kako bi dugme bilo stabilno */
  border: none; /* Ukloniti border da ne bi pomerao dugme */
  border-radius: 50px;
}
.project-nav-div:hover {
  background-color: rgba(124, 123, 123, 0.445);
  transition: background-color 0.8s ease;
}
.project-nav-div:focus {
  outline: none; /* Sklanja outline pri fokusu i kliku */
}
