.tech-stack {
  display: grid;
  justify-items: center; /* Centriranje sadržaja u gridu */
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 50px;
}

h2 {
  color: #74c69d;
  font-weight: 400;
  text-align: start;
}
.tech-item {
  display: grid;
  grid-template-columns: auto 1fr; /* Prva kolona je za SVG, druga za tekst */
  align-items: center;
  background-color: #1a1919;
  border: 0.5px solid rgb(75, 75, 75);
  border-radius: 5px;
  height: 50px;
  width: 125px;
  margin-bottom: 20px;
  color: rgb(184, 184, 184);
}

.tech-item svg {
  width: 25px; /* Možeš podesiti širinu i visinu SVG-a */
  height: 25px;
  fill: #40916c;
  margin-left: 3px;
}

.tech-item p {
  margin: 0;
}

.tech-item:hover {
  color: rgb(224, 224, 224);
  background-color: rgb(75, 75, 75);
  transition: background-color 0.7s ease;
}
.btn-switch-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: visible;
  width: 100%;
}

.btn-switch-work {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: linear-gradient(135deg, #40916c 0%, #74c69d 100%);
  justify-content: center;
}
.btn-switch-certifications {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: linear-gradient(135deg, #74c69d 0%, #40916c 100%);
  justify-content: center;
}
.btn-switch-work,
.btn-switch-certifications {
  width: 40%;
  overflow: hidden; /* Sprečava prelazak sadržaja van granica kontejnera */
  display: inline-flex;
  align-items: center;
  height: 25px;
  margin-bottom: 10px;
  position: relative;
  border: 2px solid #74c69d;
  font-weight: 500;
  cursor: pointer;
  color: white;
  isolation: isolate;
  font-size: 10px;
  transition: all 0.3s ease;
}

.btn-switch-work:hover,
.btn-switch-certifications:hover {
  box-shadow: 0 4px 12px rgb(81, 185, 138);
  overflow: visible;
  transition: all 0.3s ease;
}

.btn-switch-work-active {
  width: 40%;
  overflow: hidden; /* Sprečava prelazak sadržaja van granica kontejnera */
  display: inline-flex;
  align-items: center;
  height: 25px;
  margin-bottom: 10px;
  position: relative;
  border: 2px solid #74c69d;
  font-weight: 500;
  cursor: pointer;
  color: white;
  font-size: 10px;
  background: #2d664c;
  isolation: isolate;
  transition: all 0.3s ease;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  justify-content: center;
}
.btn-switch-certifications-active {
  width: 40%;
  overflow: hidden; /* Sprečava prelazak sadržaja van granica kontejnera */
  display: inline-flex;
  align-items: center;
  height: 25px;
  margin-bottom: 10px;
  position: relative;
  border: 2px solid #74c69d;
  font-weight: 500;
  cursor: pointer;
  color: white;
  font-size: 10px;
  background: #2d664c;
  isolation: isolate;
  transition: all 0.3s ease;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  justify-content: center;
}

.tech-description {
  color: rgb(180, 180, 180);
  width: 80%;
  font-weight: 200;
  font-size: 12px;
  align-items: center;
  margin-bottom: 25px;
}
.changing-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.toggle-container-certifications {
  /* background-color: aqua; */
  width: 70%;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.certification-item {
  display: flex;
  align-items: center;
}

.certification-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50px;
}
.certification-text {
  color: #74c69d;
  display: flex;
  flex-direction: column;
}
.certification-text p {
  justify-content: center;
  margin: 0;
  padding-top: 10px;
  font-size: 15px;
  font-weight: 300;
  word-spacing: 2px;
}
.certification-link {
  color: rgb(180, 180, 180);
  text-decoration: none;
  font-size: 10px;
  font-weight: 300;
}
.certification-link:hover {
  color: rgb(255, 255, 255);
}
