.nav {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 20px;
  height: 40px;
  width: 300px;
  justify-self: center;
  font-size: 10px;
  font-weight: 400;
  background-color: transparent;
  border-radius: 50px;
  z-index: 1;
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  margin-top: 15px;
  justify-content: space-between; /* Raspoređuje elemente sa jednakim razmakom */
  background: rgba(255, 255, 255, 0.103); /* poluprovidna bela */
  backdrop-filter: blur(8px); /* zamućenje pozadine */
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.nav-div {
  color: #ffffff;
  align-self: center;
  border-radius: 2px;
  height: 40px;
  background-color: transparent;
  outline: none; /* Sklanja plavi outline */
  transition: color 0.3s ease; /* Dodaje glatku tranziciju za promenu boje */
  padding: 0 10px; /* Dodajemo padding kako bi dugme bilo stabilno */
  border: none; /* Ukloniti border da ne bi pomerao dugme */
  border-radius: 50px;
}
.nav-div:hover {
  background-color: rgba(124, 123, 123, 0.445);
  transition: background-color 0.8s ease;
}
.nav-div:focus {
  outline: none; /* Sklanja outline pri fokusu i kliku */
}
