.nav {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 3rem;
  height: 3.5rem;
  justify-self: center;
  font-weight: 400;
  background-color: transparent;
  border-radius: 50px;
  z-index: 1;
  justify-content: space-between; /* Raspoređuje elemente sa jednakim razmakom */
  background: rgba(255, 255, 255, 0.103); /* poluprovidna bela */
  backdrop-filter: blur(8px); /* zamućenje pozadine */
  -webkit-backdrop-filter: blur(20px);
}

.nav-div {
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 300;
  align-self: center;
  border-radius: 2px;
  height: 3.5rem;
  background-color: transparent;
  outline: none; /* Sklanja plavi outline */
  transition: color 0.3s ease; /* Dodaje glatku tranziciju za promenu boje */
  padding: 0 10px; /* Dodajemo padding kako bi dugme bilo stabilno */
  border: none;
  border-radius: 50px;
}
.nav-div:hover {
  background-color: rgba(124, 123, 123, 0.445);
  transition: background-color 0.8s ease;
}
.nav-div:focus {
  outline: none; /* Sklanja outline pri fokusu i kliku */
}

@media (max-width: 450px) {
  .nav {
    top: 2.5rem;
    height: 2.5rem;
    font-weight: 300;
    width: 60%;
  }
  .nav-div {
    font-size: 1rem;
    font-weight: 300;
    height: 2.5rem;
    padding: 0 10px; /* Dodajemo padding kako bi dugme bilo stabilno */
  }
}
@media (max-width: 330px) {
  .nav {
    top: 2rem;
    height: 2rem;
    font-weight: 300;
  }
  .nav-div {
    font-size: 0.8rem;
    font-weight: 300;
    height: 2rem;
    padding: 0 7px; /* Dodajemo padding kako bi dugme bilo stabilno */
  }
}
