.contacts-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 180px;
  width: 90%;
  margin-bottom: 20px;
  justify-self: center;
  border-radius: 10px;
  border: 1px solid rgb(75, 75, 75);
}
.contacts-item1 {
  position: relative;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  font-weight: 600;
  font-size: 30px;
}
.contacts-item1::after {
  position: absolute;
  height: 80%;
  top: 10%;
  right: 0;
  width: 0.8px;
  border-radius: 1px;
  background-color: rgb(75, 75, 75);
  content: "";
}
.colab {
  color: #74c69d;
  text-decoration: none;
}
.colab:hover {
  color: #4a8166;
  /* text-decoration: underline; */
  text-underline-offset: 3px;
}

.name-and-copyr {
  font-size: 13px;
  font-weight: 300;
  color: rgb(187, 186, 186);
  margin-top: 30px;
}
.contacts-item2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 20px;
  padding-top: 20px;
}
.contacts-item2-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 10px;
  font-weight: 350;
  color: rgb(187, 186, 186);
  font-size: 13px;
}
.contacts-item2 h5 {
  color: rgb(248, 247, 247);
  margin-bottom: 10px;
  font-size: 15px;
  margin-top: 15px;
}
.contacts-item2-items a:hover {
  color: white;
}
.contacts-item2-items a {
  color: rgb(187, 186, 186);
  text-decoration: none;
}
.popup {
  height: 20px;
  width: auto; /* bolja fleksibilnost */
  color: white;
  background-color: #333;
  padding: 5px 10px;
  border: 1px solid rgb(70, 70, 70);
  border-radius: 10px;
  position: fixed;
  top: 20px; /* pozicija od vrha */
  right: 20px; /* pozicija s desne strane */
  z-index: 1000;
  font-size: 14px;
  align-content: center;
}
.email-copy:hover {
  cursor: pointer;
}
