.contacts-wrapper {
  width: 70%;
  display: flex;
  justify-content: center;
  justify-self: center;
}
.contacts-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 70%;
  margin-bottom: 2rem;
  border-radius: 20px;
  border: 1px solid rgb(75, 75, 75);
}
.contacts-item1 {
  position: relative;
  color: white;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 0.6rem;
  font-weight: 600;
  font-size: 2rem;
}
.contacts-item1::after {
  position: absolute;
  height: 80%;
  top: 10%;
  right: 0;
  width: 0.8px;
  border-radius: 1px;
  background-color: rgb(75, 75, 75);
  content: "";
}
.colab {
  color: #74c69d;
  text-decoration: none;
}
.colab:hover {
  color: #4a8166;
}
.name-and-copyr {
  font-size: 1rem;
  font-weight: 300;
  color: rgb(187, 186, 186);
  margin-top: 2rem;
}
.contacts-item2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 1rem;
  padding-top: 0.5rem;
}
.contacts-item2-items {
  /* background-color: blueviolet; */
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  font-weight: 350;
  color: rgb(187, 186, 186);
  font-size: 1rem;
}
.contacts-item2 h5 {
  color: rgb(248, 247, 247);
  margin-bottom: 10px;
  font-size: 1.3rem;
  margin-top: 1rem;
}
.contacts-item2-items a:hover {
  color: white;
}
.contacts-item2-items a {
  color: rgb(187, 186, 186);
  text-decoration: none;
}
.popup {
  height: 2rem;
  width: auto; /* bolja fleksibilnost */
  color: white;
  background-color: #333;
  padding: 5px 10px;
  border: 1px solid rgb(70, 70, 70);
  border-radius: 10px;
  position: fixed;
  top: 2rem; /* pozicija od vrha */
  right: 2rem; /* pozicija s desne strane */
  z-index: 1000;
  font-size: 1rem;
  align-content: center;
}
.email-copy:hover {
  cursor: pointer;
}
@media (max-width: 1075px) {
  .contacts-container {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 1rem;
  }
  .contacts-item1::after {
    display: none; /* izmena ovde — sakriva liniju */
  }
}
@media (max-width: 750px) {
  .contacts-item1::after {
    display: none; /* izmena ovde — sakriva liniju */
  }
  .contacts-item1 {
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.6rem;
    font-weight: 500;
    font-size: 1.5rem;
  }
  .colab {
    font-size: 1.5rem;
  }

  .name-and-copyr {
    font-size: 0.8rem;
    margin-top: 1rem;
  }
  .contacts-item2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 1rem;
    padding-top: 0.5rem;
  }
  .contacts-item2-items {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    row-gap: 0.6rem;
    font-size: 0.8rem;
    align-items: center;
  }
  .contacts-item2 h5 {
    font-size: 1rem;
    margin-top: 1rem;
  }
}

@media (max-width: 450px) {
  .contacts-item1 {
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 300;
    font-size: 1rem;
  }
  .colab {
    font-size: 1rem;
  }

  .name-and-copyr {
    font-size: 0.5rem;
    margin-top: 0.6rem;
  }
  .contacts-item2 {
    padding-left: 0.5rem;
    padding-top: 0.5rem;
  }
  .contacts-item2-items {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    row-gap: 0.5rem;
    font-size: 0.6rem;
    align-items: center;
  }
  .contacts-item2 h5 {
    font-size: 0.8rem;
    margin-top: 0rem;
  }
  .contacts-item1::after {
    display: none; /* izmena ovde — sakriva liniju */
  }
}
@media (max-width: 350px) {
  .contacts-item1 {
    font-size: 0.8rem;
  }
  .colab {
    font-size: 0.8rem;
  }
  .name-and-copyr {
    font-size: 0.5rem;
    margin-top: 0.6rem;
  }
  .contacts-item2-items {
    row-gap: 0.3rem;
    font-size: 0.5rem;
    /* margin-bottom: 2rem; */
  }
  .contacts-item2 h5 {
    font-size: 0.6rem;
    margin-bottom: 0.3rem;
  }
  .contacts-item1::after {
    display: none; /* izmena ovde — sakriva liniju */
  }
}
