.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  gap: 5px;
}
.location {
  color: rgb(173, 171, 171);
  font-size: 10px;
  /* text-align: start; */
}

.job-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.greeting {
  font-size: 20px;
  color: #74c69d;
  /* text-align: start; */
}
.job-title {
  font-weight: bold;
  color: white;
  font-size: 45px;
  align-self: flex-start;
  text-align: center;
}

.header-linksbuttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.job-description {
  margin-top: 0px;
  color: white;
  text-align: center;
}
.second-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.header-buttons {
  display: inline-flex; /* koristi inline-flex da dugme zauzima samo koliko treba */
  width: auto; /* osigurava da ne raste */
  gap: 10px;
  height: 30px;
}
.header-links {
  display: inline-flex;
  width: auto;
  gap: 10px;
} /* Btn-contact dugme */
.btn-contact {
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
  padding-right: 0.5em;
  color: #fff;
  height: 30px;
  border: 2px solid #74c69d;
  border-radius: 12px;
  box-shadow: 0 0.7em 1.5em -0.5em rgba(64, 145, 108, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  background: linear-gradient(135deg, #40916c 0%, #74c69d 100%);
  position: relative;
}

/* Efekat hover za dugme */
.btn-contact:hover {
  box-shadow: 0 6px 10px rgba(64, 145, 108, 0.2),
    0 8px 16px rgba(64, 145, 108, 0.2), 0 -2px 4px rgba(64, 145, 108, 0.1);
  transform: scale(1.05); /* Efekat povećanja pri hoveru */
}

/* Efekat pri kliku - smanjenje i nestajanje svetla */
.btn-contact:active {
  transform: scale(0.98); /* Smanjenje veličine dugmeta pri kliku */
  box-shadow: 0 0.5em 1.5em -0.5em rgba(64, 145, 108, 0.2);
  filter: brightness(0.9); /* Efekat smanjenog svetla pri kliku */
}

/* Pri hoveru, pozadinsko svetlo postaje vidljivo */
.btn-contact:hover::after {
  opacity: 1;
}
