* {
  font-family: "Montserrat", sans-serif;
}
html {
  /* font-size: 62.5%; */

  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #2b2b2b;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%237e7e7e' fill-opacity='0.14' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  margin: 0 auto;
}
.wrapper {
  max-width: 1200px; /* ili 90vw */
  margin: 0 auto;
  padding: 0 20px;
}
.primarna {
  color: #74c69d;
}
.sekundarna {
  color: #367a5c;
  background-color: transparent;
}
.main-container {
  display: flex;
  align-items: center; /* Centriranje vertikalno */
  width: 100dvw;
  height: 100dvh;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  /* background-color: aqua; */
}

/* Za bolji efekat koristiš i transition */
::-webkit-scrollbar-thumb {
  background-color: transparent;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

/*  
 
Light tema:----------------------------
Primarna: #2d6a4f (Tamna zelena)

Sekundarna: #52b788 (Srednje svetla zelena)

Pozadina: #f8f9fa (Vrlo svetla siva)

Tekst: #262727 (Tamno siva)

Dark tema:--------------------------------
Primarna: #74c69d (Svetlija zelena)

Sekundarna: #40916c (Tamnija zelena)

Pozadina: #121212 (Vrlo tamna siva)

Tekst: #e9ecef (Svetlo siva)

*/
