* {
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #262727;
  max-width: 800px;
  margin: 0 auto;
}
.primarna {
  color: #74c69d;
}
.sekundarna {
  color: #367a5c;
  background-color: transparent;
}
.main-container {
  display: flex;
  align-items: center; /* Centriranje vertikalno */
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  /* background-color: aqua; */
}

/* Za bolji efekat koristiš i transition */
::-webkit-scrollbar-thumb {
  background-color: transparent;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

/*  
 
Light tema:----------------------------
Primarna: #2d6a4f (Tamna zelena)

Sekundarna: #52b788 (Srednje svetla zelena)

Pozadina: #f8f9fa (Vrlo svetla siva)

Tekst: #262727 (Tamno siva)

Dark tema:--------------------------------
Primarna: #74c69d (Svetlija zelena)

Sekundarna: #40916c (Tamnija zelena)

Pozadina: #121212 (Vrlo tamna siva)

Tekst: #e9ecef (Svetlo siva)

*/
