* {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  /* margin: 0% 10%; */
  background-color: #262727;
  max-width: 800px;
  margin: 0 auto;
}
.primarna {
  color: #74c69d;
}
.sekundarna {
  /* color: #40916c; */
  color: #262727;
  background-color: transparent;
}
.main-container {
  display: flex;
  align-items: center; /* Centriranje vertikalno */
  /* justify-content: center; */
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

/*  
 
Light tema:----------------------------
Primarna: #2d6a4f (Tamna zelena)

Sekundarna: #52b788 (Srednje svetla zelena)

Pozadina: #f8f9fa (Vrlo svetla siva)

Tekst: #262727 (Tamno siva)

Dark tema:--------------------------------
Primarna: #74c69d (Svetlija zelena)

Sekundarna: #40916c (Tamnija zelena)

Pozadina: #121212 (Vrlo tamna siva)

Tekst: #e9ecef (Svetlo siva)

*/
